/**
* Main css file for all React App components
* / ! \ Apply style to component created directly in .js file
* 
*/

.App {
  text-align: center;
}

/* Leaflet style */
.leaflet-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Override tertiary style to display links*/
.ui.button.tertiary {
  box-shadow: none !important;
  background-color: transparent;
  padding: 0.5em;
  font-weight: bold;
  color: #1e70bf;
}
.ui.button.tertiary:hover {
  background-color: unset;
  font-weight: bold;
  color: #1e70bf;
}
